.weatherContainer{
    width:500px;
    height: 50px;
    margin:0px auto;

}
.weather{
    text-align: center;
    text-shadow: 5px black;
    color:rgb(255, 255, 255);
    background-color: rgba(72, 48, 94, 0.7);
    
}